$primary: #ffcd1c;
$background: #0c0c0c;
$text-color: #ebebeb;
$back-menu: #ebebeb;
$lines: rgba(white, 0.06);
$gray: #767680;
$dark-gray: #39393f;
$link: #1e80b7;
$text-green: #17782c;
$red: rgb(179, 12, 12);
