$primary: #004dc0;
$background: #edeeef;
$text-color: #191b23;
$back-menu: #191b23;
$lines: rgba(black, 0.1);
$gray: #53565c;
$dark-gray: #35383d;
$link: #45bcff;
$text-green: #15a734;
$red: #e00000;
