$primary: #004dc0;
$primary-hover: #0047b1;
$background: #edeeef;
$text-color: #191b23;
$back-menu: #191b23;
$lines: rgba(black, 0.18);
$gray: #53565c;
$dark-gray: #35383d;
$link: #007bff;
$text-green: #15a734;
$red: #c01f1f;
