@import "normalize";
@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow: hidden;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 3px;
	width: 3px;
}

body,
.modal-content {
	font-family: $font;
	font-weight: $font-weight;
	line-height: $line-height;
	font-size: $font-size;
	letter-spacing: $letter-spacing;
	-webkit-font-smoothing: subpixel-antialiased;
	scroll-behavior: smooth;

	* {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		outline: none;
		transition: none;
	}
}

#app {
	height: 100vh;
}

.page-name {
	opacity: 0.4;
	top: 6em;
	left: 6em;
}

.p-image-mask {
	z-index: 5000 !important;
}

.carousel-3d {
	&-slide {
		&.right-1 {
			& .project {
				&__name {
					opacity: 0;
				}
				&__number {
					opacity: 0;
				}
				&__link {
					opacity: 0;
				}
				&__category {
					opacity: 0;
				}
				&__type {
					opacity: 0;
				}
			}
		}
		&.left-1 {
			& .project {
				&__name {
					opacity: 0;
				}
				&__number {
					opacity: 0;
				}
				&__link {
					opacity: 0;
				}
				&__category {
					opacity: 0;
				}
				&__type {
					opacity: 0;
				}
			}
		}
	}
}

.viewer {
	&-backdrop {
		background-color: rgba(0, 0, 0, 0.9);
	}
	&-footer {
		display: none;
	}
	&-tooltip {
		display: none;
	}
	&-button {
		border-radius: 0%;
		right: -30px;
		top: -30px;

		&:focus {
			box-shadow: none;
		}
	}
}

.p-component-overlay {
	z-index: 2500;
	backdrop-filter: blur(20px);
}

.p-dialog-mask .p-dialog {
	.modal-content.info-modal {
		header,
		footer {
			border-color: rgba(white, 0.1);
		}
	}
}

@import "./responsive/index.scss";
