@import "normalize";
@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow: hidden;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 3px;
	width: 3px;
}

body {
	font-family: $font;
	font-weight: $font-weight;
	line-height: $line-height;
	font-size: $font-size;
	letter-spacing: $letter-spacing;
	-webkit-font-smoothing: subpixel-antialiased;

	* {
		transition: 0.2s;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		outline: none;
	}
}

#app {
	height: 100vh;
}

.page-name {
	opacity: 0.4;
	top: 6em;
	left: 6em;
}

.p-image-mask {
	z-index: 5000 !important;
}

@import "./responsive/index.scss";
