@import "../../vars/dark";

.dark-theme {
	.page-about {
		.personal-data {
			border-right: 1px solid $lines;
		}

		.personal-data__langs {
			.divide {
				background-color: $lines;
			}
		}

		.main-idea::before {
			content: '"';
			position: absolute;
			top: -40px;
			right: -10px;
			opacity: 0.1;
			font-size: 300px;
			font-family: math;
			line-height: 1;
		}

		.button {
			border: 1px solid $primary;

			svg path {
				stroke: $primary;
			}

			&.primary {
				background-color: transparentize($primary, 0.9);

				&:hover {
					color: $background;
					background-color: $primary;

					svg path {
						stroke: $background;
					}
				}

				&-silent {
					&:hover {
						background-color: transparentize($primary, 0.9);
					}
				}
			}

			&:hover {
				color: $primary;
				svg path {
					stroke: $primary;
				}
			}
		}

		.download-buttons {
			cursor: pointer;
			border: 1px solid rgba($color: white, $alpha: 0.07);
			background-color: rgba($color: white, $alpha: 0.04);

			.lang__button {
				border-left: 1px solid rgba($color: white, $alpha: 0.07);

				&:hover {
					color: black;
					background-color: $primary;
				}
			}
		}

		.certificate {
			background-color: rgba(255, 255, 255, 0.02);

			&__accordion {
				background-color: rgba(255, 255, 255, 0.02);
				font-weight: 100;

				.accordion {
					&__item {
						border-bottom: 1px solid $lines;
						font-size: 14px;

						&:hover {
							color: $link;
						}

						&:last-child {
							border-bottom: none;
						}
					}
				}

				& .p-accordion {
					&-tab {
						margin: 0;
					}

					&-header {
						&-link {
							padding: 1.1em 1em;
						}

						&-text {
							font-weight: 300;
							font-size: 14px;
						}
					}

					&-content {
						border-top: 1px solid $lines;
						margin: 0;
						border-radius: 0;
						background-color: transparent;
						padding: 1em;
					}
				}

				& .p-toggleable-content {
					margin: 0;
				}
			}
		}

		.work-place {
			background-color: rgba(255, 255, 255, 0.02);
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 10px;
				height: 10px;
				background-color: $primary;
				left: -5px;
				top: 34px;
				margin-top: -5px;
			}

			&__accordion {
				background-color: rgba(255, 255, 255, 0.02);
				font-weight: 100;

				.accordion {
					&__item {
						border-bottom: 1px solid $lines;
						font-size: 14px;

						&:hover {
							color: $link;
						}

						&:last-child {
							border-bottom: none;
						}
					}
				}

				& .p-accordion {
					&-tab {
						margin: 0;
					}

					&-header {
						&-link {
							padding: 1.1em 1em;
						}

						&-text {
							font-weight: 300;
							font-size: 14px;
						}
					}

					&-content {
						border-top: 1px solid $lines;
						margin: 0;
						border-radius: 0;
						background-color: transparent;
						padding: 1em;
						font-size: 14px;
					}
				}

				& .p-toggleable-content {
					margin: 0;
				}
			}
		}

		.project {
			background-color: rgba(255, 255, 255, 0.02);

			&__accordion {
				background-color: rgba(255, 255, 255, 0.02);
				font-weight: 100;

				.accordion {
					&__item {
						border-bottom: 1px solid $lines;
						font-size: 14px;

						&:hover {
							color: $link;
						}

						&:last-child {
							border-bottom: none;
						}
					}
				}

				& .p-accordion {
					&-tab {
						margin: 0;
					}

					&-header {
						&-link {
							padding: 1.1em 1em;
						}

						&-text {
							font-weight: 300;
							font-size: 14px;
						}
					}

					&-content {
						border-top: 1px solid $lines;
						margin: 0;
						border-radius: 0;
						background-color: transparent;
						padding: 1em;
						font-size: 14px;
					}
				}

				& .p-toggleable-content {
					margin: 0;
				}
			}
		}
	}
}
