@import "../../vars/dark";

.dark-theme {
	.page-about {
		.wrapp-info-paragraph:before {
			background: $primary;
		}

		.general-data {
			border-right: 1px solid $lines;
		}

		.personal-data__langs {
			.divide {
				background-color: $lines;
			}
		}

		.main-idea::before {
			content: '"';
			position: absolute;
			top: -40px;
			right: -10px;
			opacity: 0.1;
			font-size: 300px;
			font-family: math;
			line-height: 1;
		}

		.button {
			transform: translateY(-4px);
			background-color: $primary;
			color: $background;
			box-shadow: 0px 4px 0px darken($color: $primary, $amount: 35);

			svg path {
				stroke: $background;
			}

			&.primary {
				background-color: $primary-hover;

				&-silent {
					&:hover {
						background-color: transparentize($primary, 0.9);
					}
				}
			}

			&:hover {
				background-color: $primary-hover;
			}

			&:active {
				transform: translateY(0);
				box-shadow: 0px 0px 0px rgba($color: $primary, $alpha: 0.2);
			}
		}

		.download-buttons {
			cursor: pointer;
			border: 1px solid rgba($color: white, $alpha: 0.07);
			background-color: rgba($color: white, $alpha: 0.04);

			.lang__button {
				border-left: 1px solid rgba($color: white, $alpha: 0.07);

				&:hover {
					color: black;
					background-color: $primary;
				}
			}
		}

		.work-place {
			//position: relative;

			&__accordion {
				font-weight: 100;

				.accordion {
					&__item {
						border-bottom: 1px solid $lines;
						font-size: 14px;

						&:hover {
							color: $link;
						}

						&:last-child {
							border-bottom: none;
						}
					}
				}

				& .p-accordion {
					&-tab {
						margin: 0;
					}

					&-header {
						&-link {
							padding: 1em 1.1em;
						}

						&-text {
							font-weight: 300;
							font-size: 14px;
						}

						&:hover {
							color: $primary;
						}
					}

					&-content {
						border-top: 1px solid $lines;
						margin: 0;
						border-radius: 0;
						background-color: transparent;
						padding: 1em 1.3em;
						font-size: 14px;
					}
				}

				& .p-toggleable-content {
					margin: 0;
				}
			}
		}

		.certificate {
			border: 1px solid $dark-gray;

			&:hover {
				border-color: white;

				button {
					background-color: white;

					i {
						color: $background;
					}
				}
			}

			button {
				background-color: rgba($color: white, $alpha: 0.02);
			}

			.list {
				border-color: $dark-gray;
			}
		}

		.work-place {
			border-color: $lines;

			&:hover {
				$effect3D: 6px;
				border-color: white;
				box-shadow: $effect3D $effect3D 0px 0px
					darken($color: $gray, $amount: 20);
			}

			i {
				color: white;

				&:hover {
					color: $link;
				}
			}
		}

		.project {
			border: 1px solid $dark-gray;

			&:hover {
				border-color: white;
			}
		}

		.navigation {
			&__item {
				border-color: $dark-gray;

				&:hover {
					border-color: white;

					i {
						color: $primary;
					}
				}
			}
		}
	}
}
