@import "../../vars/dark";

.dark-theme {
	background-color: $background;
	color: $text-color;

	*::-webkit-scrollbar-track,
	html *::-webkit-scrollbar-track {
		background: $lines;
		margin: 20px;
	}

	*::-webkit-scrollbar-track {
		margin: 20px;
	}
	*::-webkit-scrollbar-thumb {
		background-color: $primary;
	}

	.font {
		&-thin {
			font-weight: 100;
		}

		&-extralight {
			font-weight: 200;
		}

		&-light {
			font-weight: 300;
		}

		&-regular {
			font-weight: 400;
		}

		&-semibold {
			font-weight: 500;
		}

		&-bold {
			font-weight: 600;
		}

		&-heavy {
			font-weight: 700;
		}

		&-black {
			font-weight: 800;
		}
	}

	.primary {
		&-font {
			color: $primary;
		}

		&-border {
			border: 1px solid $primary;
		}

		&-background {
			background-color: $primary;
		}
	}

	.link {
		&:hover {
			color: $primary;
		}

		&.blue {
			color: $link;
			&:hover {
				color: lighten($color: $link, $amount: 15);

				i {
					transform: translateX(3px);
					color: $link;
				}
			}
		}
	}

	.border {
		&-darkgray {
			border-color: $dark-gray;
		}
	}

	.main-link {
		& .dot {
			&:before {
				border: 1px solid $primary;
			}
		}
	}

	.text-color {
		&-gray {
			color: $gray;
		}
		&-green {
			color: $text-green;
		}
		&-black {
			color: $background;
		}
	}

	footer.page-footer span.divider {
		background: $primary;
	}

	.toggle-theme label span {
		font-weight: normal;
	}

	// set dark theme
	.toggle-theme label input:checked + span.label {
		font-weight: bold;
	}

	.page-header {
		border-bottom: 1px solid $lines;

		.logo {
			background: $primary;
		}
	}

	input#menu:checked + .block-menu {
		background: rgb(black, 0.8);
	}

	.block-menu {
		//color: $background;

		&__item {
			//border-top: 1px solid $lines;
			&:hover {
				// border-color: $primary;
				color: $primary;
				// background: rgba($primary, 0.05);
			}
		}

		.links__socials .social-link:hover {
			border-color: $primary;
			background-color: $primary;

			svg path {
				fill: black;
			}
		}
	}

	.page-footer {
		border-top: 1px solid $lines;
	}

	.side {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		height: 100vh;

		&.left {
			left: 0;
			border-right: 1px solid $lines;
		}

		&.right {
			right: 0;
			border-left: 1px solid $lines;
		}
	}

	.toggle-menu {
		background-color: $back-menu;

		span.menu-label {
			color: $background;
		}
	}

	span.divider {
		background: $primary;
	}

	.toggle-theme {
		label span {
			color: $text-color;
		}
	}

	.social-link {
		border: 1px solid $text-color;
	}

	// radio-button for contacts
	.wrapper-radio {
		input[type="radio"] + label {
			border: 1px solid $lines;

			&:hover {
				border-color: $gray;

				&:before {
					border-color: $gray;
				}
			}

			&:before {
				border: 1px solid rgba($gray, 0.3);
			}
		}

		input[type="radio"]:checked + label {
			border-color: $primary;

			&:after {
				background: $primary;
			}
		}
	}

	.badgeStatus {
		background-color: $background;
		span.label {
			color: $text-color;
		}

		.circle-pulse,
		.circle-stable {
			background-color: $primary;
		}
	}

	.tool-badge {
		border-color: $lines;

		&:hover {
			border: 1px solid $primary;
			color: $background;
			background: $primary;
		}
	}

	.modal {
		&-mask {
			background-color: rgba(0, 0, 0, 0.7);
		}

		&-container {
			border: 1px solid $dark-gray;
			background-color: rgba(0, 0, 0, 0.7);
		}

		&-header {
			border-bottom: 1px solid $dark-gray;
		}
		&-footer {
			border-top: 1px solid $dark-gray;
		}

		.btn-close {
			&::before,
			&::after {
				background-color: $gray;
			}
		}
	}

	#back-label {
		opacity: 0.02;
	}
}
