@import "../../vars/dark";

.dark-theme {
	.page-projects {
		.project {
			& * {
				color: $background;
			}

			&__number {
				color: $background;
			}

			&__link {
				svg {
					path {
						stroke: $background;
					}
				}
			}

			&__photo {
				&:hover {
					transform: translate(-10px, -10px);
					box-shadow: 10px 10px rgba($color: black, $alpha: 0.2);
				}
			}

			.carousel-3d {
				&-controls {
					a {
						top: 40px;
					}
				}
			}
		}
	}

	// Laptop 1366
	@media (max-width: 1366px) {
		footer[name="footer"] {
			background: $background;
		}
	}
}
