@import "./main.scss";
@import "./about.scss";
@import "./skills.scss";
@import "./projects.scss";
@import "./project.scss";
@import "./contact.scss";

@media (max-width: 1366px) {
	.tool-badge {
		font-size: 14px;
		padding: 0.5rem 0.8rem;
	}
}

// IPhone 14-15
@media (max-width: 430px) {
	#app .page-data {
		padding-bottom: 30px;
	}
}
