@import "../../vars/light";

.light-theme {
	.page-about {
		.wrapp-info-paragraph:before {
			background: $primary;
		}

		.pages-links {
			z-index: 1000;
			border-bottom: 1px solid $lines;

			& .main-link {
				& .dot {
					background: $text-color;
				}

				&:after {
					background: $lines;
				}
			}
		}

		.main-idea::before {
			content: '"';
			position: absolute;
			top: -40px;
			right: -10px;
			opacity: 0.3;
			font-size: 300px;
			font-family: math;
			line-height: 1;
		}

		.personal-data {
			border-right: 1px solid $lines;
		}

		.personal-data__langs {
			.divide {
				background-color: $lines;
			}
		}

		.button {
			border: 1px solid $primary;

			svg path {
				stroke: $primary;
			}

			&.primary {
				background-color: transparentize($primary, 0.8);

				&:hover {
					color: $background;
					background-color: $primary;

					svg path {
						stroke: $background;
					}
				}
			}

			&:hover {
				color: $primary;
				svg path {
					stroke: $primary;
				}
			}
		}

		.download-buttons {
			border: 1px solid rgba($color: black, $alpha: 0.1);
			background-color: rgba($color: black, $alpha: 0.08);

			.lang__button {
				border-left: 1px solid rgba($color: black, $alpha: 0.1);

				&:hover {
					color: white;
					background-color: $primary;
				}
			}
		}

		.certificate {
			background-color: rgba(0, 0, 0, 0.04);

			&__accordion {
				background-color: rgba(0, 0, 0, 0.04);

				.p-accordion-header span {
					font-weight: 500;
				}

				.accordion {
					&__item {
						color: $text-color;
						border-bottom: 1px solid $lines;
						font-size: 14px;
						font-weight: 400;

						&:hover {
							// font-weight: 500;
						}

						&:last-child {
							border-bottom: none;
						}
					}
				}

				& .p-accordion {
					&-tab {
						margin: 0;
					}

					&-header {
						&-link {
							padding: 1.1em 1em;
						}

						&-text {
							font-weight: 300;
							font-size: 14px;
						}
					}

					&-content {
						border-top: 1px solid $lines;
						margin: 0;
						border-radius: 0;
						background-color: transparent;
						padding: 1em;

						a {
							color: $link;
						}
					}
				}

				& .p-toggleable-content {
					margin: 0;
				}
			}
		}

		.work-place {
			background-color: rgba(0, 0, 0, 0.04);
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 10px;
				height: 10px;
				background-color: $primary;
				left: -5px;
				top: 34px;
				margin-top: -5px;
			}

			&__header p {
				opacity: 0.6;
			}

			&__accordion {
				background-color: rgba(0, 0, 0, 0.04);

				.p-accordion-header span {
					font-weight: 500;
				}

				.accordion {
					&__item {
						color: $text-color;
						border-bottom: 1px solid $lines;
						font-size: 14px;
						font-weight: 400;

						&:hover {
							color: $link;
						}

						&:last-child {
							border-bottom: none;
						}
					}
				}

				& .p-accordion {
					&-tab {
						margin: 0;
					}

					&-header {
						&-link {
							padding: 1.1em 1em;
						}

						&-text {
							font-weight: 300;
							font-size: 14px;
						}
					}

					&-content {
						color: $text-color;
						border-top: 1px solid $lines;
						margin: 0;
						border-radius: 0;
						background-color: transparent;
						padding: 1em;
						font-size: 14px;
					}
				}

				& .p-toggleable-content {
					margin: 0;
				}
			}
		}

		.project {
			background-color: rgba(0, 0, 0, 0.04);

			&__accordion {
				background-color: rgba(0, 0, 0, 0.04);

				.p-accordion-header span {
					font-weight: 500;
				}

				.accordion {
					&__item {
						color: $text-color;
						border-bottom: 1px solid $lines;
						font-size: 14px;
						font-weight: 400;

						&:hover {
							color: $link;
						}

						&:last-child {
							border-bottom: none;
						}
					}
				}

				& .p-accordion {
					&-tab {
						margin: 0;
					}

					&-header {
						&-link {
							padding: 1.1em 1em;
						}

						&-text {
							font-weight: 300;
							font-size: 14px;
						}
					}

					&-content {
						color: $text-color;
						border-top: 1px solid $lines;
						margin: 0;
						border-radius: 0;
						background-color: transparent;
						padding: 1em;
						font-size: 14px;

						span {
							opacity: 0.6;
						}
					}
				}

				& .p-toggleable-content {
					margin: 0;
				}
			}
		}
	}
}
