@import "../../vars/light";

.light-theme {
	background-color: $background;
	color: $text-color;

	*::-webkit-scrollbar-track,
	html *::-webkit-scrollbar-track {
		background: rgba(black, 0.1);
		margin: 20px;
	}

	*::-webkit-scrollbar-track {
		margin: 20px;
	}
	*::-webkit-scrollbar-thumb {
		background-color: $primary;
	}

	.font {
		&-thin {
			font-weight: 100;
		}

		&-extralight {
			font-weight: 200;
		}

		&-light {
			font-weight: 400;
		}

		&-regular {
			font-weight: 400;
		}

		&-semibold {
			font-weight: 500;
		}

		&-bold {
			font-weight: 600;
		}

		&-heavy {
			font-weight: 700;
		}
	}

	& h2.nick.font-light {
		font-weight: 300;
	}

	.primary {
		&-font {
			color: $primary;
		}

		&-border {
			border: 1px solid $primary;
		}

		&-background {
			background-color: $primary;
		}
	}

	.link {
		&:hover {
			color: $primary;
		}

		&.blue {
			color: $link;
			&:hover {
				color: lighten($color: $link, $amount: 15);

				i {
					transform: translateX(3px);
					color: $link;
				}
			}
		}
	}

	.main-link {
		& .dot {
			&:before {
				border: 1px solid $primary;
			}
		}
	}

	.text-color {
		&-gray {
			color: $gray;
		}
		&-green {
			color: $text-green;
		}
	}

	span.divider {
		background: $primary;
	}

	.toggle-theme label span {
		font-weight: 600;
	}

	// set dark theme
	.toggle-theme label input:checked + span.label {
		font-weight: 800;
	}

	.page-header {
		border-bottom: 1px solid $lines;
		z-index: 5000;

		.logo {
			background: $primary;
			color: white;
		}
	}

	input#menu:checked + .block-menu {
		background: rgb(white, 0.7);
	}

	.block-menu {
		//color: $background;

		&__item {
			//border-top: 1px solid rgba(0, 0, 0, 0.1);
			&:hover {
				// border-color: $primary;
				color: $primary;
				// background: rgba($primary, 0.1);
			}
		}

		.links__socials .social-link:hover {
			border-color: $primary;
			background-color: $primary;

			svg path {
				fill: white;
			}
		}
	}

	.page-footer {
		border-top: 1px solid $lines;
	}

	.side {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		height: 100vh;

		&.left {
			left: 0;
			border-right: 1px solid $lines;
		}

		&.right {
			right: 0;
			border-left: 1px solid $lines;
		}
	}

	.toggle-menu {
		background-color: $back-menu;

		span.menu-label {
			color: $background;
		}
	}

	.pages-links {
		z-index: 1000;
		border-bottom: 1px solid $lines;

		& .main-link {
			& .dot {
				background: $text-color;
			}

			&:after {
				background: $lines;
			}
		}
	}

	.toggle-theme {
		label span {
			color: $text-color;
		}
	}

	.social-link {
		border: 1px solid $text-color;

		svg path {
			fill: $text-color;
		}
	}

	.badgeStatus {
		background-color: $background;
		span.label {
			color: $text-color;
		}

		.circle-pulse,
		.circle-stable {
			background-color: $primary;
		}
	}

	.tool-badge {
		border-color: $lines;
	}

	.modal {
		&-mask {
			background-color: rgba(255, 255, 255, 0.7);
		}

		&-container {
			border: 1px solid $lines;
			background-color: rgba(255, 255, 255, 0.7);
		}

		&-header {
			border-bottom: 1px solid $lines;
		}
		&-footer {
			border-top: 1px solid $lines;
		}

		.btn-close {
			&::before,
			&::after {
				background-color: $gray;
			}
		}
	}

	#back-label {
		opacity: 0.06;
	}

	.btn-back {
		&:hover {
			svg {
				transform: translateX(-3px);

				path {
					stroke: $primary;
				}
			}
		}
	}
}
