@import "../../vars/light";

.light-theme {
	.project-page {
		&__back {
			color: $gray;
			svg {
				path {
					stroke: $gray;
				}
			}

			&:hover {
				svg {
					path {
						stroke: $primary;
					}
				}
			}
		}

		&__data {
			border-left: 1px solid $lines;
		}

		.tool {
			border-color: $lines;
		}

		.project-data {
			.task {
				position: relative;
				&:before {
					background: $text-color;
				}
			}
		}

		.tags__line {
			background: $gray;
		}

		.section {
			header {
				color: $background;
			}

			&.info {
				border: 2px solid $link;

				header {
					background-color: $link;
				}
			}
			&.problem {
				border: 2px solid $red;

				header {
					background-color: $red;
				}
			}
			&.solution {
				border: 2px solid $text-green;

				header {
					background-color: $text-green;
				}
			}
		}

		.badgeStatus {
			background-color: rgba($color: $primary, $alpha: 0.1);
			span.label {
				color: $primary;
			}
		}
	}

	.image-viewer {
		.overlay {
			background-color: #ffffff98;
		}

		.text {
			color: black;
		}
	}
}
