@import "../../vars/light";

.light-theme {
	.page-skills {
		.tabs {
			border-bottom: 1px solid $lines;
		}

		li {
			&.is-active {
				&:before {
					background: $primary;
				}
			}
		}

		.number {
			&-active {
				color: $primary;
			}
		}

		span.numbers__line {
			height: 1px;
			background: $back-menu;
		}

		.skills {
			border-left: 1px solid $lines;

			&__list {
				& .skill {
					border: 1px solid $lines;

					&:hover {
						border: 1px solid $primary;
						color: $background;
						background: $primary;
					}
				}
			}
		}

		.nav {
			.arrows {
				svg {
					path {
						stroke: $text-color;
					}

					&:hover {
						path {
							stroke: $primary;
						}
					}
				}
			}
		}

		.slider {
			&__footer {
				border-top: 1px solid $lines;
			}
		}
	}
}
